# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
.vs/slnx.sqlite
.vs/Mobile_Phone-app/config/applicationhost.config
.vs/Mobile_Phone-app/FileContentIndex/040f8686-e04c-4798-9c77-b3a645db8404.vsidx
.vs/Mobile_Phone-app/FileContentIndex/0ec33f88-f418-4ae4-8ae9-71d139664d61.vsidx
.vs/Mobile_Phone-app/FileContentIndex/5ac0969a-43f5-4e60-bdb1-d4b1f7b9615c.vsidx
.vs/Mobile_Phone-app/FileContentIndex/c423d19c-ddf2-4471-80ab-0031bd38ec0c.vsidx
.vs/Mobile_Phone-app/FileContentIndex/read.lock
.vs/VSWorkspaceState.json
.vs/Mobile_Phone-app/FileContentIndex/225fa7ca-f377-4b3c-a7b8-971dc0230286.vsidx
.vs/Mobile_Phone-app/v17/.suo
.vs/
